.popup_container {
    width: 100%;
    height: 100%;
    background-color: rgba(150,148,148,0.7);
    top: 0;
    position: fixed;
    z-index: 5;
}

.popup {
    width: 360px;
    height: 460px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: linear-gradient(to bottom, #fbfbfa, #f0eeed);
    position: absolute;
    border-radius: 4px;
    box-shadow: #d1d1d1 0 0 0 1px, #797878 0 6px 4px -4px;
    z-index: 1;
    padding: 0 19px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

    .popup:before {
        content: "Добавление проекта";
        display: block;
        margin: -20px 0 0 0;
        font-size: 12px;
        font-family: "OpenSans-Light";
        color: rgb(248, 247, 246);
        line-height: 1.2;
    }

.popup_close {
    width: 14px;
    height: 13px;
    background: url(../img/close.png);
    margin: 12px -12px 0 0;
    float: right;
    cursor: pointer;
    -moz-transition: .3s all;
    -o-transition: .3s all;
    -webkit-transition: .3s all;
    transition: .3s all;
}

    .popup_close:hover {
        opacity: 0.7;
    }

.popup_text {
    display: block;
    font-size: 14px;
    font-family: "OpenSans";
    color: rgb(114, 112, 112);
    line-height: 1.2;
    margin: 10px 0;
}

.popup_first_input {
    margin-top: 26px;
}

.popup_input {
    border-radius: 4px;
    width: 322px;
    height: 40px;
    border: 1px solid #d6d5d3;
    background: linear-gradient(to bottom, #fbfcfd, #f4f3f4);
    box-shadow: 0 4px 2px -2px #f4f3f4 inset;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 8px;
    color: #727070;
    font-family: 'OpenSans';
    font-size: 14px;
}

.popup_textarea_input {
    height: 110px;
    resize: none;
}

.popup_input:-moz-placeholder {
    font-size: 12px;
    font-family: 'OpenSans-Light';
    color: #c7c6c6;
}

.popup_input::-webkit-input-placeholder {
    font-size: 12px;
    font-family: 'OpenSans-Light';
    color: #c7c6c6;
}

.popup_input:-moz-placeholder {
    font-size: 12px;
    font-family: 'OpenSans-Light';
    color: #c7c6c6;
}

.popup_input::-webkit-input-placeholder {
    font-size: 12px;
    font-family: 'OpenSans-Light';
    color: #c7c6c6;
}

.popup_input:focus {
    outline: none;
    box-shadow: 0 0 2px 0 #f97119;
}

.popup_addImage_container {
    background-color: #FFFFFF;
    border-radius: 4px;
    height: 40px;
    overflow: hidden;
    padding: 2px;
    position: relative;
    text-align: left;
    vertical-align: middle;
    border: 1px solid #d6d5d3;
    background: linear-gradient(to bottom, #fbfcfd, #f4f3f4);
    box-shadow: 0 4px 2px -2px #f4f3f4 inset;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.popup_addImage_button {
    float: right;
    font-size: 16px;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    padding: 2px 6px;
    text-align: center;
    vertical-align: middle;
    width: 50px;
    margin: -3px -3px 0 0;
    border: 1px solid #d6d5d3;
    background: url("../img/iCloud.png") no-repeat center center, linear-gradient(to bottom, #f9fafa, #e6e4e3);
    box-shadow: 0 4px 2px -2px #f4f3f4 inset;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.popup_addImage_container:hover .popup_addImage_button{
    opacity:0.7;
}
.popup_addImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    font-size: 150px;
    height: 40px;
    z-index: 20;
}

.popup_addImage_label {
    float: left;
    height: 35px;
    overflow: hidden;
    padding: 8px 9px;
    text-align: left;
    vertical-align: middle;
    width: 250px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
    font-family: 'OpenSans-Light';
    color: #c7c6c6;
    line-height: 1.2;  
}
.popup_text_class{
    font-family: "OpenSans";
    color: rgb(114, 112, 112);
    line-height: 1.2;
    font-size: 14px;
}
.submit_popup {
    color: rgb(30, 116, 101);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.35);
    font-size: 14px;
    font-family: 'OpenSans-Semibold';
    text-align: center;
    width: 120px;
    height: 37px;
    background: linear-gradient(to bottom, #7de8cd, #3fb79a);
    box-shadow: 0 0 0 1px rgba(113, 111, 111, 0.15) inset, 0 6px 0 -4px #a5efdd inset;
    border: none;
    border-radius: 4px;
    margin: 10px 90px;
}

    .submit_popup:hover {
        background: linear-gradient(to bottom, #8fdabc, #66a088);
    }

    .submit_popup:active {
        background: linear-gradient(to bottom, #78b89e, #4b7663);
        box-shadow: 0 0 0 1px #88d1b3 inset, 0 6px 0 -4px #a1d0bc inset;
        color: #d1d0ce;
        text-shadow: 0 1px 0 #666465;
    }

/*Errors popup*/
    .errors_popup {
    position: absolute;
    background-image: -moz-linear-gradient( 90deg, rgb(211,118,84) 0, rgb(243,162,135) 90%);
    background-image: -webkit-linear-gradient( 90deg, rgb(211,118,84) 0, rgb(243,162,135) 90%);
    background-image: -ms-linear-gradient( 90deg, rgb(211,118,84) 0, rgb(243,162,135) 90%);
    box-shadow: 0 2px 1px 0 rgba(9, 9, 9, 0.17),inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
    font-size: 12px;
    font-family: "OpenSans-Semibold";
    color: rgb(154, 78, 50);
    line-height: 1.2;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.45);
    border-radius: 5px;
    padding: 4px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #f19a7c;
    visibility: hidden;
    opacity: 0;
    -moz-transition: .3s all;
    -o-transition:.3s all;
    -webkit-transition:.3s all;
    transition:.3s all;
}

.error_popup_contacts_left {
    border-right: none;
}
    .error_popup_contacts_left:before {
        content: '';
        position: absolute;
        background: url(../img/error2.png) center center no-repeat;
        width: 10px;
        height: 25px;
        top: -1px;
    }

.error_popup_contacts_left_first {
    top: 54px;
    margin-left: -129px;
}
.error_popup_contacts_left_first:before{
    left: 117px;
}
.error_popup_contacts_left_second {
    top: 130px;
    margin-left: -101px;
}

    .error_popup_contacts_left_second:before {
        left: 89px;
    }

.error_popup_contacts_left_third{
    top: 206px;
    margin-left: -123px;
}
    .error_popup_contacts_left_third:before{
        left: 112px;
    }
.error_popup_contacts_left_fourth{
    top: 314px;
    margin-left: -129px;
}
    .error_popup_contacts_left_fourth:before{
        left: 117px;
    }