html,
body,
.wrap {
    height: 100%;
}

body {
    background: #b3edb0 url("../img/background.jpg") no-repeat center center fixed;
    background-size: cover;
}

    body > .wrap {
        height: auto;
        min-height: 100%;
    }

.main {
    padding-bottom: 7px;
}


/*Header*/

.header {
    width: 100%;
    min-width: 405px;
    height: 90px;
    background: url("../img/bgHead.png") repeat-x;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 0 0 7px #fff, 0 0 0 8px rgba(113, 111, 111, 0.15);
    background-color: #706e6e;
}

.containerHead {
    height: 100%;
    max-width: 1184px;
    margin: 0 auto;
    padding: 0 7%;
}

.logo {
    display: block;
    margin-top: 8px;
    float: left;
    max-width: 165px;
    max-height: 70px;
    overflow: hidden;
}


/*Icon soc*/

.soc {
    float: right;
    margin-top: 25px;
}

.socIcon {
    width: 42px;
    height: 44px;
    display: block;
    float: left;
    margin-left: 8px;
    list-style-type: none;
    padding: 0;
}
    .sprite-facebook:hover {
        background-position: -79px 0;
    }

    .sprite-vk:hover {
        background-position: -949px 0;
    }

    .sprite-twiter:hover {
        background-position: -695px 0;
    }
    .sprite-git:hover {
        background-position: -309px 0;
    }


/*Header End*/


/*Content*/

.content {
    width: 960px;
    margin: 0 auto;
    padding-top: 35px;
}


/*Navigation*/

.left-navigation {
    width: 250px;
    float: left;
}

.menu {
    width: 100%;
    min-height: 56px;
    margin-top: 0;
}

.men_p {
    width: 100%;
    min-height: 56px;
    background: linear-gradient(to bottom, #fbfafa, #e9e8e8);
    display: block;
    box-shadow: 0 0 0 1px rgba(191, 191, 191, 0.5) inset;
    text-decoration: none;
    font-family: OpenSans-Semibold;
    color: #727070;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    font-size: 20px;
    text-align: left;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    padding: 15px 25px;
    background-color: #f2efef;
}

.click {
    color: rgb(30, 116, 101);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.35);
    font-size: 20px;
    font-family: OpenSans-Semibold;
    text-align: left;
    background: linear-gradient(to bottom, #7de8cd, #3fb79a);
    box-shadow: 0 0 0 1px rgba(113, 111, 111, 0.15) inset, 0 6px 0 -4px #a5efdd inset;
    background-color: #53c7aa;
}

.men_p:not(.click):hover {
    background: linear-gradient(to bottom, #e4e3e3, #bfbcbc);
}

.men_p:not(.click):active {
    background: linear-gradient(to bottom, #a8a6a7, #7d797a);
    box-shadow: 0 0 0 1px #9c9c9c inset, 0 6px 0 -4px #c3c3c3 inset;
    color: #d8d8d8;
    text-shadow: 0 1px 0 #666465;
}

.click:hover {
    background: linear-gradient(to bottom, #90d9bb, #679f86);
}

.click:active {
    background: linear-gradient(to bottom, #78b89e, #4b7663);
    box-shadow: 0 0 0 1px #88d1b3 inset, 0 6px 0 -4px #a1d0bc inset;
    color: #d1d0ce;
    text-shadow: 0 1px 0 #666465;
}

.menu_items_ln:first-child .men_p {
    border-radius: 4px 4px 0 0;
}

.menu_items_ln:last-child .men_p {
    border-radius: 0 0 4px 4px;
}

.mobile_menu_li {
    display: none;
}

.mobile_menu {
    margin: 10px 0 0 30px;
}

.icon_mobile_menu {
    width: 25px;
    height: 21px;
    cursor: pointer;
}

    .mobile_menu_decor {
        width: 24px;
        height: 5px;
        background-color: #ffffff;
        display: block;
        border-radius: 3px;
        margin-bottom: 3px;
        -moz-transition: .3s background;
         -o-transition: .3s background;
          -webkit-transition: .3s background;
           transition: .3s background;
    }

    .icon_mobile_menu:hover > .mobile_menu_decor {
        background-color: #dbdbdb;
    }

.items_mobile_menu {
    width: 196px;
    display: block;
    margin: 19px 0 0 -144px;
    position: absolute;
    z-index: 1;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.7);
    border-radius: 4px;
}

    .items_mobile_menu::after {
        content: '';
        position: absolute;
        left: 147px;
        top: -25px;
        border: 10px solid transparent;
        border-bottom: 15px solid #f4f3f2;
    }

ul {
    list-style: none;
    padding: 0;
}


/*Contacts*/

.contacts {
    margin: 34px 0 35px 0;
}

.cont_h {
    width: 100%;
    min-height: 43px;
    background: linear-gradient(to bottom, #f4ce82, #dfb866);
    box-shadow: 0 0 0 1px rgba(202, 161, 81, 0.5) inset, 0 6px 0 -4px #f8dda7 inset, 0 1px 0 0 rgba(188, 187, 186, 0.5);
    border-bottom: 1px solid rgba(188, 187, 186, 0.9);
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-family: OpenSans-Semibold;
    color: rgb(208, 152, 44);
    line-height: 1.1;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    background-color: #f1c97b;
    padding: 10px 25px;
    box-sizing: border-box;
}

    

.cont {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 37px;
    display: block;
    cursor: pointer;
    text-decoration: none;
    font-family: OpenSans;
    font-size: 14px;
    color: #727070;
    border-top: 1px solid rgba(214, 213, 211, 0.8);
    border-right: 1px solid rgba(214, 213, 211, 0.8);
    border-left: 1px solid rgba(214, 213, 211, 0.8);
    background-color: #fcfbfb;
}

    .cont:hover .underline {
        text-decoration: underline;
    }

    .cont_h_items:last-child .cont {
        border-radius: 0 0 5px 5px;
        box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(214, 213, 211, 0.8);
    }
    
.email {
    background: url(../img/email.png) 19px center no-repeat, url(../img/contactArrow.png) 50px center no-repeat, linear-gradient(to bottom, #ffffff, #f6f5f5);
}

    .email:hover {
        background: url(../img/email.png) 19px center no-repeat, url(../img/contactArrow.png) 50px center no-repeat, linear-gradient(to bottom, #ffffff, #f2e7d0);
    }

.phone {
    background: url(../img/telephone.png) 19px center no-repeat, url(../img/contactArrow.png) 50px center no-repeat, linear-gradient(to bottom, #ffffff, #f6f5f5);
}

    .phone:hover {
        background: url(../img/telephone.png) 19px center no-repeat, url(../img/contactArrow.png) 50px center no-repeat, linear-gradient(to bottom, #ffffff, #f2e7d0);
    }

.skype {
    background: url(../img/skype.png) 19px center no-repeat, url(../img/contactArrow.png) 50px center no-repeat, linear-gradient(to bottom, #ffffff, #f6f5f5);
}

    .skype:hover {
        background: url(../img/skype.png) 19px center no-repeat, url(../img/contactArrow.png) 50px center no-repeat, linear-gradient(to bottom, #ffffff, #f2e7d0);
    }

.cont_decor {
    padding: 10px 0 0 90px;
    max-width: 150px;
    display: block;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}


/*Contacts End*/


/*Navigation End*/


/*Information*/

.right-content {
    width: 651px;
    margin: 0 0 0 59px;
    float: right;
    padding: 0;
}

.block_style_header {
    width: 100%;
    min-height: 55px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #a9a7a7, #7c7979);
    background-color: #827f7f;
    box-shadow: 0 0 0 1px rgba(156, 156, 156, 0.8) inset, 0 6px 0 -4px #c3c2c2 inset;
    border-radius: 5px 5px 0 0;
    padding: 15px 40px 15px 40px;
    font-size: 24px;
    font-family: OpenSans-Semibold;
    color: rgb(238, 237, 236);
    line-height: 0.917;
    text-align: left;
    text-shadow: 0 1px 0 rgba(102, 101, 101, 0.5);
}
    
.block_style_content {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #f7f6f5, #f0eeed);
    background-color: #f3f1f0;
    border-radius: 0 0 5px 5px;
    border-right: 1px solid rgba(105, 105, 105, 0.35);
    border-left: 1px solid rgba(105, 105, 105, 0.35);
    box-shadow: 0 1px 0 0 rgba(105, 105, 105, 0.35);
}

.info_work_edu {
    margin: 36px 0;
}

.info_content {
    min-height: 228px;
}

.foto {
    float: left;
    width: 210px;
}

.img_photo_container {
    width: 133px;
    height: 133px;
    border-radius: 133px;
    border: 9px solid #f6f5f5;
    box-shadow: 0 0 0 1px #cccbca;
    background-color: white;
    overflow: hidden;
    margin: 39px 0 0 40px;
}

.img_photo {
    width: 133px;
    height: 133px;
}

.text_info {
    float: left;
    width: 389px;
    padding-left: 16px;
    margin: 36px 0;
}

.name_profile {
    width: 100%;
    display: block;
    margin-bottom: 6px;
    font-family: 'OpenSans-Semibold';
    font-size: 14px;
    color: #727070;
}

    .name_profile:last-child {
        margin-top: 13px;
    }

.name_profile_value {
    width: 100px;
    min-height: 100px;
    margin-left: 10px;
    font-family: 'OpenSans';
}

.skils {
    width: 230px;
    min-height: 50px;
    display: block;
    margin: -20px 0 0 141px;
}

.skils_text {
    display: block;
    float: left;
    height: 25px;
    background: url(../img/techolBackCenter.png) repeat-x;
    margin: 0 14px 0 11px;
}

    .skils_text_technology {
        display: block;
        float: left;
        padding: 6px 3px 0 3px;
        font-family: 'OpenSans-Semibold';
        font-size: 9px;
        color: #1e7465;
        text-shadow: 0 0 0 #1e7465;
    }

    .skils_text:before {
        content: "";
        background: url(../img/techolBackLeft.png) no-repeat;
        width: 11px;
        height: 25px;
        margin-left: -11px;
        display: block;
        float: left;
    }

    .skils_text:after {
        content: "";
        background: url(../img/techolBackRight.png) no-repeat;
        width: 8px;
        height: 25px;
        margin-right: -11px;
        display: block;
        float: left;
    }

.work_content {
    min-height: 111px;
}

.edu_content {
    min-height: 111px;
}

.list_information {
    width: 560px;
    min-height: 100px;
    list-style-type: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 19px 0 0 0;
    margin: 0 auto 35px auto;
}

.list_information_block {
    width: 100%;
    min-height: 90px;
    border-bottom: 1px solid #dbdbda;
    box-shadow: 0 6px 0 -5px #edeceb;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #727070;
    display: table;
}

    .list_information_block:last-child {
        border-bottom: none;
        box-shadow: none;
    }

    .list_information_block > .icon_info_container {
        margin: 17.5px 35px 0 0;
        width: 54px;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }

.icon_container {
    display: block;
    border-radius: 50%;
    background: #f7f7f7;
    box-shadow: 1px 1px 0 0 #ffffff,inset 1px 1px 0 0 #d0d0d0;
    width: 53px;
    height: 54px;
    box-sizing: border-box;
}
.work{
    display: block;
}
.work_container{
    padding: 17px 0 0 16px;
}
.info_location, .info_date {
    display: block;
    font-size: 14px;
}
.study {
    display: block;
}
.study_container{
    padding: 17.5px 0 0 14px;
}
.diplom_container{
    padding: 17.5px 0 0 19px;
}
.diplom {
    display: block;
}

.info_location {
    margin-left: 41px;
    margin-top: 23px;
    font-family: 'OpenSans-Semibold';
}

.info_date {
    font-family: 'OpenSans';
    margin-left: 41px;
}
.socIconMobile{
    display: none;
}

/*Information End*/


/*Content End*/


/*Footer*/

.footer {
    width: 100%;
    min-width: 405px;
    height: 61px;
    background: linear-gradient(to bottom, #ffffff, #f0f0f0);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    margin-top: -61px;
    /* negative value of footer height */
    background-color: #f8f8f8;
    clear: both;
    border-top: 1px solid rgba(113, 111, 111, 0.2);
    font-family: OpenSans-Light;
    font-size: 12px;
    color: #727070;
    padding-top: 9px;
}

.castle {
    width: 62px;
    height: 22px;
    background-image: url(../img/locked.png);
    background-repeat: no-repeat;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    position: absolute;
    text-align: right;
    cursor: pointer;
    text-decoration: none;
    color: #9c9c9c;
    margin: -2px 0 0 -125px;
}

    .castle:hover {
        background-image: url(../img/unlocked.png);
    }




/*clearfix*/
.clearfix:before,
.clearfix:after {
   content: "";
   display: table;
}

.clearfix:after {
   clear: both;

}
/* для IE6-7 */
.clearfix {
   zoom: 1;
}

/*clearfix end*/

/*Footer End*/
.displayNone {
    display: none;
}

/*Media Tablet*/
@media screen and (max-width: 999px) {
    .header {
        height: 65px;
    }

    .logo {
        max-width: 165px;
        max-height: 70px;
        overflow: hidden;
        margin: -5px 0 0 0;
    }

    .soc {
        margin-top: 15px;
    }

    .content {
        width: 640px;
        margin: 0 auto;
    }

    .menu {
        display: none;
    }

    .mobile_menu {
        display: block;
    }

    .cont_h {
        display: none;
    }

    .cont {
        float: left;
        width: 213px;
    }

        .cont:last-child {
            border-radius: 0;
        }

        .cont_decor {
            padding: 8px 0 0 75px;
        }

    .contacts {
        width: 640px;
        min-height: 36px;
        margin: 0 auto;
    }

    .left-navigation {
        width: 100%;
        float: none;
        margin-bottom: 62px;
    }

    .right-content {
        float: none;
        margin: 0 auto;
        width: auto;
    }

    .men_p {
        height: 40px;
        padding: 10px 15px;
        font-size: 16px;
    }

    .mobile_menu_li {
        display: block;
    }

    .footer {
        height: 38px;
        margin-top: -21px;
    }

    .copyrite {
        margin-top: 2px;
    }
}

/*Media Mobile*/
@media screen and (max-width: 679px) {
    .content {
        width: 400px;
        margin: 0 auto;
    }

    .block_style_header {
        min-height: 40px;
    }

    .foto {
        float: none;
        margin: 0 auto;
        padding-top: 18px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .img_photo_container {
        margin: 0 auto;
    }

    .name_profile_value {
        margin-left: 5px;
        max-width: 366px;
    }

    .name_profile {
        max-width: 366px;
        line-height: 1.2;
        font-size: 16px;
    }

    .text_info {
        margin: 10px 0 15px;
    }

    .socIconDisplay {
        display: none;
    }

    .mobile_menu_li {
        margin-left: -50px;
    }

    .skils {
        width: auto;
        margin-left: 162px;
    }

    .skils_text_technology {
        padding-top: 8px;
    }

    .list_information {
        width: 360px;
        padding: 0;
    }

    .list_information_block {
        width: 360px;
        margin: 0 auto;
    }

        .list_information_block > .icon_info_container {
            width: 75px;
            height: 75px;
            display: block;
            margin: 17px auto 0 auto;
        }

    .study {
        width: 75px;
        height: 75px;
    }

    .diplom {
        width: 75px;
        height: 75px;
    }

    .info_location, .info_date {
        font-size: 16px;
        margin: 10px 0 0 0;
        text-align: center;
    }

    .info_date {
        margin-bottom: 15px;
    }    
    .sprite-workIcon {
    width: 31px;
    height: 29px;
    background-position: -1159px 0;
}

.study {
    background: url(../img/studyIconMob.png) 20px center no-repeat;
}

.diplom {
    background: url(../img/diplomaIconMob.png) 28px center no-repeat;
}

    .cont {
        width: auto;
        float: none;
        margin: 0 auto;
        font-size: 24px;
        height: 45px;
    }

        .cont_decor {
            max-width: 250px;
            padding: 5px 0 0 135px;
        }

    .contacts {
        width: 400px;
    }
    .email {
    background: url(../img/emailMob.png) 35px center no-repeat, url(../img/contactArrowMob.png) 90px center no-repeat, linear-gradient(to bottom, #ffffff, #f6f5f5);
}

    .email:hover {
        background: url(../img/emailMob.png) 35px center no-repeat, url(../img/contactArrowMob.png) 90px center no-repeat, linear-gradient(to bottom, #ffffff, #f2e7d0);
    }

.phone {
    background: url(../img/telephoneMob.png) 40px center no-repeat, url(../img/contactArrowMob.png) 90px center no-repeat, linear-gradient(to bottom, #ffffff, #f6f5f5);
}

    .phone:hover {
        background: url(../img/telephoneMob.png) 40px center no-repeat, url(../img/contactArrowMob.png) 90px center no-repeat, linear-gradient(to bottom, #ffffff, #f2e7d0);
    }

.skype {
    background: url(../img/skypeMob.png) 35px center no-repeat, url(../img/contactArrowMob.png) 90px center no-repeat, linear-gradient(to bottom, #ffffff, #f6f5f5);
}

    .skype:hover {
        background: url(../img/skypeMob.png) 35px center no-repeat, url(../img/contactArrowMob.png) 90px center no-repeat, linear-gradient(to bottom, #ffffff, #f2e7d0);
    }
    .left-navigation{
        margin-bottom: 15px;
    }
    .socMobile{
        float: left;
        margin: 0 20px 13px 20px;
    }
    .socIcon{
        width: 73px;
        height: 75px;
    }

    .sprite-facebookMob:hover {
        background-position: -194px 0;
    }

    .sprite-vkMob:hover {
       background-position: -1064px 0;
    }

    .sprite-twiterMob:hover {
        background-position: -810px 0;
    }

    .sprite-gitMob:hover {
        background-position: -424px 0;
    }
    
    .socIconMobile{
    display: block;
}
    .footer > p{
        margin-left: 125px;
        font-size: 8px;
    }
.castle {
    width: 62px;
    height: 22px;
    background-image: url(../img/locked.png);
    background-repeat: no-repeat;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    position: absolute;
    text-align: right;
    cursor: pointer;
    text-decoration: none;
    color: #9c9c9c;
    margin: -4px 0 0 -125px;
}
}
