.my_works_m {
    margin-bottom: 35px;
}

.my_works_container {
    width: 568px;
    margin: 0 auto;
    padding: 38px 15px;
    overflow: hidden;
}

.my_works_images {
    width: 167px;
    display: inline-block;
    margin: 0 27px 31px 1px;
    border-radius: 6px;
    overflow: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #b7b7b7;
    box-shadow: 0 2px 0 -1px #eae9e8, 0 -2px 0 -1px #d4d3d3, -1px 0 0 0 #dfdede;
    vertical-align: top;
}

.decoration_my_works {
    text-decoration: none;
}

.my_works_images:nth-child(3n+3) {
    margin-right: 0;
}

.my_works_images:hover .back_works {
    display: block;
}

.decoration_my_works_height {
    height: 100%;
    width: 100%;
    display: block;
    margin: 0;
    padding: 25px 0;
}

.img_site_cont {
    width: 100%;
    height: 120px;
    overflow: hidden;
    border-bottom: 1px solid #bdbdbd;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.back_works {
    display: none;
    width: 166px;
    min-height: 120px;
    position: absolute;
    background-color: rgba(111,109,109,0.6);
    border-radius: 6px 6px 0 0;
    padding: 35px 30px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.back_works_text {
    width: 100px;
    height: 30px;
    color: #f6f5f4;
    border: 2px solid #f6f5f4;
    display: block;
    text-align: center;
    line-height: 2;
    border-radius: 4px;
}

.my_works_name_site {
    min-height: 33px;
    color: #727070;
    font-family: 'OpenSans-Semibold';
    font-size: 13.35px;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 7px;
}

.my_works_site_info {
    background-color: #ffffff;
    font-family: 'OpenSans-Light';
    font-size: 12px;
    color: #727070;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 0;
}

    .my_works_site_info > span {
        width: 143px;
        display: block;
        margin: 0 auto;
    }

.my_works_addImg {
    height: 131px;
    background: linear-gradient(to bottom, #fefdfd, #ebe9e8);
    border: 1px solid #b7b7b7;
    box-shadow: 0 2px 0 -1px #d3d3d3, 0 -2px 0 -1px #d4d3d3, -1px 0 0 0 #dfdede;
    text-align: center;
}

.my_works_addImg_icon {
    display: block;
    border-radius: 50%;
    box-shadow: 1px 1px 0 0 #ffffff,inset 1px 1px 0 0 #d0d0d0;
    width: 53px;
    height: 54px;
    padding: 17px 16px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 55px;
}

.my_works_addImg_text {
    width: 125px;
    font-family: 'OpenSans-Semibold';
    font-size: 14px;
    color: #727070;
    display: block;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    margin-left: 20px;
    margin-top: 10px;
}

.my_works_addImg:hover {
    background: linear-gradient(to bottom, #e8e7e7, #bfbdbd);
}
.img_site{
    width:100%;
}

/*Media Tablet Works*/
@media screen and (max-width: 999px) {
    .my_works_container {
        width: 465px;
        margin: 0 auto;
        padding: 38px 0 15px 0;
        overflow: hidden;
    }

    .my_works_images {
        width: 191px;
        margin: 0 75px 31px 1px;
    }

        .my_works_images:nth-child(3n+3) {
            margin-right: 75px;
        }

        .my_works_images:nth-child(2n+2) {
            margin-right: 0;
        }

    .my_works_addImg {
        height: 152px;
    }
    .my_works_addImg_icon{
        margin-left:68px;
    }
    .my_works_addImg_text{
        margin-left:33px;
    }
    .back_works {
        width: 191px;
    }
    .error_contacts_right_second {
        top: 539px;
    }
    .error_contacts_left_second {
        top: 368px;
    }
    .error_contacts_left_first {
        top: 221px;
    }
    .error_contacts_right_first {
        top: 221px;
    }
}


@media screen and (max-width: 679px) {
    .men_p {
        min-height: 66px;
        width: 300px;
        font-size: 24px;
        padding: 19px 25px;

}
    .my_works_container {
        width: 400px;
        margin: 0 auto;
    }

    .img_site_cont {
        height: 202px;
    }

    .my_works_images {
        width: 276px;
        margin: 0 55px 18px 55px;
        text-align: center;
        background-color: #fff;
    }
    .items_mobile_menu{
        right:0;
        width:auto;
    }
        .items_mobile_menu::after {
            left: 215px;
        }
    .back_works {
        width: 276px;
        height: 202px;
    }
    .diplom, .study {
     width: auto;
    height: auto; 
}
    .decoration_my_works_height {
        margin: 0 0 0 41px;
    }
    .back_works_text{
        margin:35px 0 0 50px;
    }
}
